<?xml version="1.0" encoding="utf-8" ?>
<suite name="testproj" parallel="false">
    <test name="mysqlTest">
        <!--<packages>-->
        <!--<package name="com.qianmi.webautotest.mysql"/>-->
        <!--</packages>-->
        <classes>
            <class name="com.qianmi.webautotest.mysql.mysqlTest"></class>
        </classes>
    </test>
</suite>